
body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}










.gallery {
    max-width: 1000px;
    display: gird;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    margin: 5vh auto;
    justify-items: center;
    row-gap: 20px;
}
